.book_mark_button {
  width: 80px;
  padding: 3px 10px;
  margin: 3px;
  border-radius: 10px;
  transition: 0.5s;
  overflow: visible;
  outline: none !important;

  @apply hover:bg-gray-300 flex items-center cursor-default;
}

.book_mark_img {
  margin-right: 10px !important;
  margin: 0px !important;
}

.book_mark_text {
  font-size: 12px;
  position: relative;
  left: 8px;
}
